body {
  margin: 20px;
}

.userInput {
  display: block;
}

.divBlock {
  display: block;
  vertical-align: top;
  width: 47%;
  padding: 2px;
}
#userInputBody {
  width: 36%;
}
.pCommon {
  display: block;
  width: 80%; height: 30%;
  border: 1px solid black;
  padding: 2px;
}
.pOut {
  display: block;
}
