.secretPageBody {
  margin: 20px;
  background: #fff;
}

.secretPageBody h2 {
  margin: 5px;
  font-size: 1em;
}

.userInput h2 {
  margin: 5px;
  font-size: 1em;
}

.userInputContainer {
  display: inline-block;
  width: 400px;
  border: black solid;
  vertical-align: top;
  float: left;
}

.outputDivContainer {
  border: solid #000;
  display: inline-block;
  float: left;
  vertical-align: top;
}

.outputDiv {
  border: solid black;
}

@media (min-width: 853px){
  .userInputContainer {
    width: 400px;
  }

  .outputDivContainer {
    width: 800px;
    float: left;
    margin-left: 10px;

  }
}
