/*Universal selectors*/
*{
  margin: 0;
  padding:0;
}

/*Nav Bar area*/

#navBarWrapper{
  text-align: center;
  font-size: 2em;
  padding: 1.3em;
  background-image: -webkit-linear-gradient(92deg,#f35626,#feab3a);
  border-bottom: black 4px;
}

/*left column*/
.userInputWrapper{
  width:41%;
  margin-right: 0;
  margin-left: 2.5%;
  display:inline-block;
}
.userInput{
  width: 40%;
  margin:0;
  display: block;
  vertical-align: top;

}
.inputHeader{
  text-align:center;
  /*padding:5px;
  margin:5px;
  text-align: center;
  display: block;*/
}


/*right column*/
#articleDemo{
  /*display:inline;*/
  width: 50%;
  float:right;
  z-index: 1;
  /*display: inline;

  text-align:right;
  text-align:top;
  border: black 1px;*/
}
.realArticle{
}

/*bottome section*/
.codeOutput{
  width:100%;
  display:inline;
}
.output{
  width:40%;
}
